*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

background:#111;

overflow:hidden;

}

.title{

color:white;

font-size:42px;

margin-bottom:20px;

letter-spacing:4px;

}

.scene{

width:1000px;

height:500px;

position:relative;

background:linear-gradient(120deg,#00ff99,#00d4ff);

border-radius:20px;

overflow:hidden;

box-shadow:0 0 40px cyan;

}

.person{

position:absolute;

bottom:20px;

left:-250px;

height:300px;

}

.login{

position:absolute;

right:-500px;

top:50%;

transform:translateY(-50%);

width:350px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(15px);

padding:30px;

border-radius:20px;

box-shadow:0 0 30px cyan;

}

.login h2{

text-align:center;

margin-bottom:25px;

color:white;

}

.input{

display:flex;

align-items:center;

background:white;

margin-bottom:18px;

padding:12px;

border-radius:10px;

}

.input i{

margin-right:10px;

}

.input input{

border:none;

outline:none;

width:100%;

}

.row{

display:flex;

justify-content:space-between;

font-size:14px;

margin-bottom:20px;

color:white;

}

.row a{

color:white;

text-decoration:none;

}

button{

width:100%;

padding:14px;

border:none;

border-radius:10px;

font-size:18px;

background:#00ffd5;

cursor:pointer;

transition:.4s;

}

button:hover{

transform:scale(1.05);

}

.login p{

margin-top:20px;

text-align:center;

color:white;

}
